/* CONTENT */

.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.col {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.col-half {
  width: 50%;
}

@media (max-width: 600px) {
  .col-half {
    width: 100%;
  }
}
